:root {
    --green: #256A58; 
    --white: #fff;
    --grey: #D9D9D9;
    --orange: #ff9600; 
    --font-size-base: 16px; /* added a base font size for rem units */
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin-top:0% ;
    background-image: url('./img-white/fundo-cinz.png');
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* reduced 0.625rem to 0.469rem and 1.25rem to 0.938rem */
}

header {
    background-color: var(--green); 
    /* reduced 2.188rem to 1.641rem */
    display: flex;
    text-align: center;
    height: 7.813rem; /* reduced 10.375rem to 7.813rem */
    width: 100%;
}

.logo img {
    width: 6.141rem; /* reduced 8.188rem to 6.141rem */
    height: 6.328rem; /* reduced 8.438rem to 6.328rem */
    margin: 0.1rem 34.219rem 0px 0.5rem; /* reduced 0.063rem to 0.047rem, 45.625rem to 34.219rem, and 0.313rem to 0.234rem */
}

.imgss {
    display: flex;
    gap: 0.703rem; /* reduced 0.938rem to 0.703rem */
    position: absolute;
    top: 1.406rem; /* reduced 1.875rem to 1.406rem */
    right: 0.938rem; /* reduced 1.25rem to 0.938rem */
    margin-left: auto; 
    margin-top: -0.5rem;
}

.retangulo {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 38.609rem; /* reduced 51.438rem to 38.609rem */
    height: 19.266rem; /* reduced 25.688rem to 19.266rem */
    background-color: var(--white);
     /* reduced 1.25rem to 0.938rem */

    border-radius: 0.938rem; /* reduced 1.25rem to 0.938rem */
    border-width: 0.047rem; /* reduced 0.063rem to 0.047rem */
    border-style: solid;
    border-color: var(--green);
}

.theo img{
   margin-left: 22rem;
   width: 16rem;
     /* reduced 5.625rem to 4.219rem */
}

.text {
    position: absolute;
    font-family: "Inter", sans-serif;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
    margin-top: 5rem;
    width: 20rem;
    color: var(--green);
    font-size: 2.5rem; /* reduced 3rem to 2.25rem */
    text-align: center;
   
   
}

button {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 11.953rem; /* reduced 15.938rem to 11.953rem */
    height: 4.594rem; /* reduced 6.125rem to 4.594rem */
    object-fit: contain;
    border-radius: 2.469rem; 
    border: #fff;/* reduced 3.313rem to 2.469rem */
    background-color: #ff9600;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 15rem;

    
}

button a {
    text-decoration: none;
    font-family: "Archivo Black", sans-serif;
    color: var(--white);
    font-size: 1.406rem; 
}