*{
  margin: 0;
  padding: 0;
  border: 0;
}

:root {
  --green: #256A58; 
  --white: #fff;
  --grey: #D9D9D9;
  --orange: #ff9600; 
  --bg-color: #008CBA;
  font-size: 16px; 
}

body {
  background-image: url("./capa/img_capa/fundo\ 21.png");
  width: auto;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  
} 

#logado {
  margin-top: 2rem;
  margin-left: 2rem;
  color: var(--white);
}

.vamos {
  
  width: 12rem; /* reduced 15.938rem to 11.953rem */
  height: 5rem; /* reduced 6.125rem to 4.594rem */
  object-fit: contain;
  border-radius: 2.5rem; 
  border: #fff;/* reduced 3.313rem to 2.469rem */
  background-color: #ff9600;
 

  position: relative;
  left: 34.5%; 
  transform: translateX(-50%);
}

.textos {
  margin-top: 10rem;
  margin-bottom: 5rem;
  align-items: center;
}

a {
  
  color: var(--white);
  text-decoration: none;
  font-family: "Archivo Black", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.5rem;
  
}

body {
  max-width: 100%;
  margin: 0 auto;
  font-family: 'Arial', sans-serif;
  padding: 0;
}

header {
  background-color: var(--green); 
  padding: 0.625rem; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

header > div {
  display: flex;
  align-items: center;
  gap: 5.4rem;
}

.logo img {
  height: 6rem; 
  width: 6rem; 
} 


p.principal, p.exploradores {
  text-align: center;
  justify-content: center;
  font-family: "Lemon", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 6rem;

  margin-left: -30rem;
}

p.paragrafo {
  justify-content: center;
  text-align: center;
  font-size: 3rem;
  color: var(--green); 
  font-size: 1.5rem; 

  margin-left: -30rem;
  margin-bottom: 2rem;
}


p {
  color: var(--green); 
  font-size: 3rem; 
  margin: 0.625rem 0; 
  font-family: "Lemon", serif;
  font-weight: 400;
  font-style: normal;
  
}

header p {
  color: var(--white);
  z-index: 2;
  margin-right: 85rem;
  text-decoration: none;
  font-family: "Archivo Black", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.5rem;
}

.entrar {
  z-index: 2;
  width: 10rem; /* reduced 15.938rem to 11.953rem */
  height: 3rem; /* reduced 6.125rem to 4.594rem */
  object-fit: contain;

  border-radius: 2.5rem; 
  border: #fff;/* reduced 3.313rem to 2.469rem */
  background-color: #ff9600;
  
  margin-top: 1.5rem;
  right: 17.5rem;
  position: fixed;
  
}

.cadastro {
  z-index: 2;
  width: 10rem; /* reduced 15.938rem to 11.953rem */
  height: 3rem; /* reduced 6.125rem to 4.594rem */
  object-fit: contain;

  border-radius: 2.5rem; 
  border: #fff;/* reduced 3.313rem to 2.469rem */
  background-color: #ff9600;
  
  margin-top: 1.5rem;
  right: 4.5rem;
  position: fixed;
  
}

.ranking {
  z-index: 2;
  width: 10rem; /* reduced 15.938rem to 11.953rem */
  height: 3rem; /* reduced 6.125rem to 4.594rem */
  object-fit: contain;

  border-radius: 2.5rem; 
  border: #fff;/* reduced 3.313rem to 2.469rem */
  background-color: #ff9600;
  
  margin-top: 1.5rem;
  right: 30.5rem;
  position: fixed;
  
}

.sair {
  z-index: 2;
  width: 10rem; /* reduced 15.938rem to 11.953rem */
  height: 3rem; /* reduced 6.125rem to 4.594rem */
  object-fit: contain;
  border-radius: 2.5rem; 
  border: #fff;/* reduced 3.313rem to 2.469rem */
  background-color: #ff9600;
  font-family: "Archivo Black", sans-serif;
  color: var(--white);
  font-weight: 300;
  font-style: normal;
  font-size: 1.5rem;
  cursor: pointer;
  
  
  margin-top: 1.5rem;
  right: 43.5rem;
  position: fixed;
}
