* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  :root {
    --green: #256A58; 
    --white: #fff;
    --grey: #D9D9D9;
    --orange: #ff9600; 
    --font-size-base: 16px; /* added a base font size for rem units */
}

  body {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: "Mukta Mahee", sans-serif;
  
    
    background-image: url(../capa/img_capa/2040_R0lVIERBTiA0NjgtMTA.jpg);;
    
    background-size: cover;
    background-attachment: fixed;
  
    width: 100vw;
    height: 100vh;
    overflow-x: hidden; 
    color: #f1f1f1;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* reduced 0.625rem to 0.469rem and 1.25rem to 0.938rem */
}
  
header {
  background-color: var(--green); 
  /* reduced 2.188rem to 1.641rem */
  display: flex;
  text-align: center;
  height: 7.813rem; /* reduced 10.375rem to 7.813rem */
  width: 100%;
}

.logo img {
  width: 6.141rem; /* reduced 8.188rem to 6.141rem */
  height: 6.328rem; /* reduced 8.438rem to 6.328rem */
  margin: 1rem 34.219rem 0.5rem 0.5rem;
  top: 4rem; /* reduced 0.063rem to 0.047rem, 45.625rem to 34.219rem, and 0.313rem to 0.234rem */
}

.imgss {
  align-items: center;
  
  display: flex;
  gap: 0.703rem; /* reduced 0.938rem to 0.703rem */
  position: absolute;
  top: 0.4rem; /* reduced 1.875rem to 1.406rem */
  right: 0.938rem; /* reduced 1.25rem to 0.938rem */
  margin-left: auto; 
 
}
  
header svg {
  width: 20rem;
}
  
.diamante{
  margin-left: 0.25rem;
  width: 5rem;
  height: 4rem;
}

.ouro{
  margin-left: 0.25rem;
  width: 5rem;
  height: 4rem;
}

.prata{
  margin-left: 0.25rem;
  width: 5rem;
  height: 4rem;
}

.bronze{
  margin-left: 0.25rem;
  width: 5rem;
  height: 4rem;
}

 #crown{
  margin-top: 3rem;
  margin-bottom: 0rem;
 }
  
  main #crown {
    width: 3rem;
    height: 3rem;
    -webkit-animation: crown-animation 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: crown-animation 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
  
  main .revenue {
    color: #03b169;
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 2.5rem;
  }
  
  section span {
    font-size: 1.1rem;
  }

  .d {
    color: rgb(125, 198, 247);
  }

  .o {
    color: rgb(253, 178, 16);
  }

  .p {
    color: #d9d9d9cc;
  }

  .b{
    color: #f75726b4;
  }
  
  section ul {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    width: min(22rem, 25rem);
  }
  
  section li {
    display: flex;
    background-color: #112f27;
    align-items: center;
    justify-content: space-around;
    border-radius: 1rem;
    gap: 1rem;
    padding: 1rem;
    width: 100%;
    transition: background-color 0.3s;
  }
  
  section li:hover {
    background-color: hsl(164, 47%, 25%);
  }
  
  section li span:first-child {
    font-size: 1rem;
    font-weight: bold;
    font-size: 1rem;
  }
  
  section li img {
    display: none;
  }
  
  section li p {
    width: 100%;
    text-align: center;
    font-size: 1rem;
    word-break: break-all;
  }
  
  section li span:last-child {
    font-size: 1.25rem;
    font-weight: bold;
    color: #03b169;
    width: min(30%, 20rem);
  }
  
  @media (min-width: 600px) {
    section ul {
      width: 100%;
  
    }
  
    section li img {
      display: flex;
      width: 2.8rem;
      height: 2.8rem;
      border-radius: 50%;
    }
  
    section li p {
      min-width: 20rem;
    }
  }
  
  /* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #03b169;
  }
  
  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 8px;
  }
  
  *::-webkit-scrollbar-track {
    background: transparent;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #03b169;
    border-radius: 10px;
  }
  
  /* Animações */
  
  @-webkit-keyframes crown-animation {
    0% {
      -webkit-transform: rotateY(80deg);
      transform: rotateY(80deg);
      opacity: 0;
    }
  
    100% {
      -webkit-transform: rotateY(0);
      transform: rotateY(0);
      opacity: 1;
    }
  }
  
  @keyframes crown-animation {
    0% {
      -webkit-transform: rotateY(80deg);
      transform: rotateY(80deg);
      opacity: 0;
    }
  
    100% {
      -webkit-transform: rotateY(0);
      transform: rotateY(0);
      opacity: 1;
    }
  }
  
  /***************************************************
   * Generated by SVG Artista on 2/22/2023, 1:08:04 AM
   * MIT license (https://opensource.org/licenses/MIT)
   * W. https://svgartista.net
   **************************************************/
  
  @-webkit-keyframes animate-svg-fill-1 {
    0% {
      fill: transparent
    }
  
    100% {
      fill: rgb(1, 177, 105)
    }
  }
  
  @keyframes animate-svg-fill-1 {
    0% {
      fill: transparent
    }
  
    100% {
      fill: rgb(1, 177, 105)
    }
  }
  
  .svg-elem-1 {
    -webkit-animation: animate-svg-fill-1 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s both;
    animation: animate-svg-fill-1 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s both
  }
  
  @-webkit-keyframes animate-svg-fill-2 {
    0% {
      fill: transparent
    }
  
    100% {
      fill: rgb(1, 177, 105)
    }
  }
  
  @keyframes animate-svg-fill-2 {
    0% {
      fill: transparent
    }
  
    100% {
      fill: rgb(1, 177, 105)
    }
  }
  
  .svg-elem-2 {
    -webkit-animation: animate-svg-fill-2 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s both;
    animation: animate-svg-fill-2 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s both
  }
  .quiz-container {
    height: 10%;
  }